* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(gray, black, whitesmoke);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, blue, whitesmoke, red);
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: black;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
  align-items: center;
  justify-self: center;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: blue;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}

#AboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  border-style: outset;
  border-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30%;
  text-align: center;
  background-color: red;
  color: whitesmoke;
}

.dk {
  display: flex;
  justify-self: center;
  width: 50%;
  height: 52%;
  padding-left: 2px;
  padding-top: 2px;
}

#likes {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 40%;
  background-color: royalblue;
}

#me {
  color: black;
  font-size: 20px;
  font-weight: 20px;
}

#pro {
  color: black;
  font-size: 20px;
  font-weight: 20px;
}

.likes {
  background-color: blue;
  border-style: outset;
  border-color: red;
  padding-left: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.list {
  font-size: 20px;
}

li {
  list-style: none;
  font-size: 19px;
}

aside {
  padding-left: 25px;
}

.cardphoto {
  padding-right: 10px;
  width: 300px;
}

h2 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

h5 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: red;
}

.dash {
  display: flex;
  justify-content: center;
  width: 200px;
}

#Github {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2px;
  text-align: center;
  margin: 5%;
}

.Projects {
  display: flex;
  justify-content: center;
  width: 18%;
  border-style: solid;
  background: linear-gradient(to bottom, yellow, orange, red);
}

h4 {
  font-size: 20px;
}

.weather {
}

a:hover {
  color: yellow;
}

a {
  color: black;
}

.code {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 41%;
  width: 18%;
  border-style: solid;
  background: linear-gradient(to left, aqua, blue, purple);
}

#genpic {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 133px;
}

.quiz {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 77%;
  width: 18%;
  border-style: solid;
  border-color: black;
  background: linear-gradient(to left, green, yellowgreen, yellow);
}

.qz {
  display: flex;
  justify-content: center;
  width: 200px;
}

.contact {
  height: 30%;
  width: 18%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 41%;
}

#links {
  display: flex;
  justify-content: center;
  border-style: inset;
  width: 100%;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(to top, #699, pink, purple);
}

.in {
  width: 30px;
}

.gitcat {
  width: 30px;
}

.gmail {
  width: 30px;
}

footer {
  position: absolute;
  bottom: -200%;
}
